{% block sonata_header %}
    <noscript>
        <div class="noscript-warning">
            {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
        </div>
    </noscript>

    {% include '@RemarkAdmin/_inc/navbar.html.twig' %}
    {% include '@RemarkAdmin/_inc/menubar.html.twig' %}
{% endblock %}
