<li class="nav-item" id="toggleChat">
    <a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat"
       data-url="site-sidebar.tpl">
        <i class="icon wb-chat" aria-hidden="true"></i>
    </a>
</li>
