<li class="nav-item hidden-float">
    <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
       role="button">
        <span class="sr-only">Toggle Search</span>
    </a>
</li>
